
<!-- SVG Components for Uniform Pocket -->

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;"><!--
--> <g id="uniform-pocket-rect"><!--
-->   <rect 
        x="1" 
        y="41" 
        width="164" 
        height="150" 
        fill="#AD9D7B" 
        stroke="#8C7E62" 
        stroke-width="1.5" 
      /><!--
--> </g>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;"><!--
--> <g id="uniform-pocket-flap"><!--
-->   <path 
        d="M1,1 L165,1 L165,45 L83,69 L1,45 Z" 
        fill="#AD9D7B" 
        stroke="#8C7E62" 
        stroke-width="1.5" 
      /><!--
--> </g>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;"><!--
--> <g id="uniform-pocket-button"><!--
-->   <circle 
        cx="83" 
        cy="46" 
        r="9.5" 
        fill="#5D5442" 
        stroke="#463F32" 
        stroke-width="1" 
      /><!--
--><!--   <image 
      href="../assets/img/scouting/misc/ODLbutton.png" 
      x="73" 
      y="36" 
      width="20" 
      height="20" 
    />--><!--
--> </g>
</svg>


<!-- SVG Componets for Program Strip -->

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;"><!--
--> <g id="program-strip-rect"><!--
-->   <rect 
        x="1" 
        y="1" 
        width="164" 
        height="27" 
        fill="#AD9D7B" 
        stroke="#8C7E62" 
        stroke-width="1.5" 
      /><!--
--> </g>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;"><!--
--> <g id="program-strip-text"><!-- transform="scale(0.5, 1)"
-->     <text 
          x="50%" 
          y="55%"
          text-anchor="middle" 
          dominant-baseline="middle"
          fill="#CE1126"
          style="font-family:'Roboto Condensed', sans-serif; font-weight:bold; font-size:1em"
          ><!--
-->       SCOUTING<!--
-->     </text><!--
--> </g>
</svg>

<div class="uniform-awards">

<!-- Table for Uniform Layout -->
<table class="uniform-awards-table" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
<!-- Right Top / Left Display -->
            <th style="vertical-align: bottom;">
                <img src="../assets/img/scouting/misc/NameTag.png" title="Bob Barnum" class="uniform-awards-nametag"><!--
                <img src="../assets/img/scouting/misc/PocketRef3 Top.jpeg" width="100%">-->
                <svg viewBox="0 0 166 29" class="uniform-awards-svg"><!--
                --> <use href="#program-strip-rect" /> <!--
                --> <use href="#program-strip-text" /> <!--
                --> <!--<use href="#program-strip-image" />--><!--
            --> </svg>           
            </th>
<!--
--><!-- Top Center Gap -->
            <th class="uniform-awards-spacer"></th>
<!--
--><!-- Left Top / Right Display -->
            <th style="vertical-align: bottom; text-align: center;">
                <br>
                <img src="../assets/img/scouting/genawd/UKWldCrest1990s.png" title="World Crest, UK, 1990s" class="uniform-awards-crest">
                <br>
                <br>
                <div class="uniform-awards-patch-row">
                  <img src="../assets/img/scouting/pins/Tiger1.png" title="1 year Tiger Cubs" class="uniform-awards-year-pin">
                  <img src="../assets/img/scouting/pins/CubScout4.png" title="4 years Cub Scouts" class="uniform-awards-year-pin">
                  <img src="../assets/img/scouting/pins/BoyScout7.png" title="7 years Boy Scouts" class="uniform-awards-year-pin">
                  <img src="../assets/img/scouting/pins/Venturing1.png" title="1 year Venturing" class="uniform-awards-year-pin">
                  <!--<img src="../assets/img/scouting/pins/Leader10.png" title="10 years Adult Leader" class="uniform-awards-year-pin">
                  <img src="../assets/img/scouting/pins/Leader9.png" title="9 years Adult Leader" class="uniform-awards-year-pin"> -->
                </div>
                <br>
                <div class="uniform-awards-knot-row">
                  <img src="../assets/img/scouting/awdknts/ScouterTraining1.png" title="Scouter's Training Award, Cub Scouts" class="uniform-awards-award">
                </div>
                <div class="uniform-awards-knot-row uniform-awards-knot-row-main">
                  <img src="../assets/img/scouting/awdknts/Eagle2s.png" title="Eagle Scout, Two Silver Palms" class="uniform-awards-award">
                  <img src="../assets/img/scouting/awdknts/YouthReligious4.png" title="Youth Religious Award; Cub Scouts, Webelos, Boy Scouts, Venturing" class="uniform-awards-award">
                  <img src="../assets/img/scouting/awdknts/ArrowOfLight.jpg" title="Arrow of Light" class="uniform-awards-award">
                </div>
            </th>
        </tr>
        <tr>
<!--
--><!-- Right Bottom / Left Display -->
            <th style="vertical-align: top;">
               <svg viewBox="0 0 166 220" class="uniform-awards-svg"><!----><!--
                --><g><!--
                --> <use href="#uniform-pocket-rect" /><!--
                --> <title>George Strake District, Pine Tree Award</title><!--
                --><!--<image
                        href="../assets/img/scouting/misc/PocketDangleRelative1.png" 
                        x="0" 
                        y="0" 
                        width="87%"
                    />
                --> <image
                        href="../assets/img/scouting/genawd/GSDPineTree.png" 
                        x="54.5" 
                        y="39" 
                        width="30.5%"
                    /><!--
                --></g><!--
                --><g><!--
                --> <use href="#uniform-pocket-flap" /><!--
                --> <use href="#uniform-pocket-button" /><!--
                --> <title>Colonneh Lodge 137, OA 100th Anniversary</title><!--
                --> <!--<image
                        href="../assets/img/scouting/misc/PocketReferenceHalf.jpg" 
                        x="0" 
                        y="0" 
                        width="50%"
                    />--><!--
                --> <image
                        href="../assets/img/scouting/genawd/ColonnehOA100th.png" 
                        x="0" 
                        y="0" 
                        width="100%"
                    /><!--
                --></g><!--
             --></svg>
            </th>
<!--
--><!-- Bottom Center Gap -->
            <th class="uniform-awards-spacer"></th>
<!--
--><!-- Left bottom / Right Display -->
            <th style="vertical-align: top;">
                <svg viewBox="0 0 166 220" class="uniform-awards-svg"><!--
                --><use href="#uniform-pocket-rect" /><!--
                --><use href="#uniform-pocket-flap" /><!--
                --><use href="#uniform-pocket-button" /><!--
             --></svg>
            </th>
        </tr>
    </tbody>
</table>
</div>
